// app global css in SCSS form

.top-spacer {
    height: 51px;
}

.bottom-spacer {
    height: 73px;
}

.q-tab__label {
    font-size: 12px;
    font-weight: 700;
}

.q-tab__indicator {
    margin-left: 12px;
    margin-right: 12px;
    height: 3px;
    border-radius: 12px;
}
